/* Style the modal overlay */
.mat-dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the form container */
.form-container {
  width: 300px;
  text-align: center;

}

/* Style the form header */
.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* Style the "Close" button */
.close-button {
  background-color: #d9534f;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  text-transform: uppercase;
}

/* Style the "Close" button on hover */
.close-button:hover {
  background-color: #c9302c;
}

/* Style form controls */
.form-group {
  margin-bottom: 15px;
  text-align: left;
}

/* Style labels */
label {
  font-weight: bold;
}

/* Style input fields */
input[type="number"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style the form fields as read-only */
input[readonly], textarea[readonly] {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  cursor: not-allowed;
}
